/* Minerva Neue FM-custom v2.0.3 */

/* Recent Bug Fixes */
.minerva-header .search-box {width: 0 !important;}
.minerva-header .branding-box {min-width: 0 !important;}
.minerva-user-navigation {min-width: 0;}

.banner-container, .header, .page-header-bar, .overlay-header,
.content, .overlay-content, .content-unstyled, .pre-content,
.post-content, #mw-content-text > form,
#mw-mf-page-center .pointer-overlay {max-width: 100% !important;}

.overlay.search-overlay .search-box,
.overlay.search-overlay .search-content,
.overlay.search-overlay .spinner-container,
.overlay.search-overlay .results {margin-left: 0;}

@media screen and (min-width: 768px) {
   .banner-container, .header, .page-header-bar, .overlay-header,
   .content, .overlay-content, .content-unstyled, .pre-content,
   .post-content, #mw-content-text > form,
   #mw-mf-page-center .pointer-overlay {
      width: 100%;
      max-width: min(90%,calc(100vw - 140px));
   }
   .page-heading {width: calc(100% - 330px);}
   .banner-container, .header, .page-header-bar, .overlay-header,
   .content, .overlay-content, .content-unstyled, .pre-content,
   .post-content, #mw-content-text > form {
      margin-right: auto;
      margin-left:  auto;
   }
   .overlay.search-overlay .header-cancel {
      display: block;
      margin-top: 6px;
   }
   .thumbimage {
      box-shadow: none !important;
      border-radius: 20px 20px 0px 0px !important;
   }
   .overlay .header-container.header-chrome {
      z-index: 2;
      top:   0 !important;
      right: inherit;
      left:  0;
      box-shadow: none !important;
      width: 100px;
      height: 55px;
      margin:  0 !important;
      padding: 0 !important;
      border: 0;
      border-radius: 0px !important;
      background: transparent;
   }
   .overlay-issues {
      right: 0;
      left: initial;
      width: 420px;
   }
   .overlay-header-container {
      right: 0;
      left:  initial !important;
      width: 420px;
   }
   .search-overlay .search-box .search,
   .minerva-header .search-box .search {width: 350px;}
   .overlay.search-overlay .overlay-content {max-width: 90%;}
   .page-actions-menu__list {justify-content: left;}
   .page-actions-overflow-list {
      right: initial;
      left:  initial;
   }
   @media (min-width: 720px) {
      .content .infobox {
         max-width: 350px !important;
         margin: 0.5em 0 1em 35px;
      }
   }
   .header-container.header-chrome {
      position: fixed !important;
      z-index: 2;
      top:   0 !important;
      right: 0;
      width: 350px;
      margin: 30px 30px 0 0;
      padding-top:    5px;
      padding-bottom: 5px;
      border: 0;
      border-radius: 20px;
      background: var(--menu-background);
   }
   .header-chrome.overlay-header-container + .overlay-content {
      margin-top: 3.375em !important;
      padding-top: 0;
   }
   .thumbimage {
      border-top-right-radius: 20px;
      border-top-left-radius:  20px;
   }
   .thumb {border-radius: 20px;}
   .content figcaption, .content .thumbcaption {
      box-sizing: border-box;
      padding: 10px 15px 15px !important;
      /*
      padding-top: 10px !important;
      padding-right: 15px !important;
      padding-bottom: 15px !important;
      padding-left: 15px !important;
      */
      color: var(--caption);
      font-size: inherit;
   }
   .page-actions-menu__list-item > a {
      color: var(--grey-text-color);
      font-weight: 400;
      font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text","Helvetica Neue",sans-serif;
   }
   #main-menu-input:checked .mw-body {
      transform: translate(-300px, 0) !important;
      transition: transform 250ms ease-in-out;
   }
   .toggle-list__checkbox .mw-body {
      transform: translate(-300px, 0) !important;
      transition: transform 250ms ease-in-out;
   }
   @keyframes search{
      0% { transform: translate(420px,0px);}
      100% {transform: translate(0px,0px);}
   }
   .overlay.search-overlay.visible {
      position: fixed;
      right: 0 !important;
      left: auto;
      width: 420px;
      height: auto;
      height: 100%;
      transition: height 400ms ease-in-out;
      box-shadow: -2px 0px 25px rgba(0,0,0,0.2) !important;
      -webkit-animation: search 150ms linear forwards !important;
      animation: search 150ms linear forwards !important;
   }
   .overlay-header-container.position-fixed,
   .overlay-footer-container.position-fixed {border: 0;}
   .overlay-enabled #mw-mf-viewport {
      transform: translatex(-420px);
      transition: transform 150ms ease-in-out /*cubic-bezier(.2,.67,.25,.99)*/;
   }
   #mw-mf-viewport {
      max-width: 90%;
      margin-right: auto;
      margin-left: auto;
      transform: inherit;
      transition: transform 150ms ease-in-out /*cubic-bezier(.2,.67,.25,.99)*/;
   }
   .overlay.search-overlay .overlay-title {
      padding-top: 15px;
      padding-left: 0px;
   }
   .overlay.search-overlay .search-box {width: 420px;}
   .overlay.search-overlay .search {margin-left:0px;}
   .overlay.search-overlay .spinner-container,
   .overlay.search-overlay .search-content,
   .overlay.search-overlay .results {
      width: 100%;
      margin-left: 0;
   }
   .overlay .header-container.header-chrome {
      width: 420px !important;
      right: 0;
      left: auto;
      background: transparent !important;
   }
   .overlay.search-overlay .overlay-title {width: 100%;}
   .overlay-header .overlay-title {padding: 10px;}
}
@media screen and (min-width: 768px) {
   .pre-content h1 {
      color: var(--text-color);
      font-weight: 900;
      font-size: 3em;
      font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text","Helvetica Neue",sans-serif;
   }
   body, p {font-size: 16px;}
   .content p {
      margin: 0.8em 0 1.5em 0 !important;
      line-height: 180%;
      text-align: justify;
      hyphens: auto;
      -webkit-hyphens: auto;
   }
}
.k-player{background-color: transparent;}
.k-player .control-bar {
   border: 0;
   background: #d4d4d4;
}
.minerva-header .branding-box {opacity: 1;}
.minerva-header {border-top: none !important;}
.header .search-box {display: none;}
.mw-parser-output .stack-container>div {overflow: visible !important;}
#mw-mf-page-left ul.hlist li a {color: var(--link-color);}
.overlay-header-container,
.overlay-footer-container {background: var(--translucent-background);}
.content table.infobox {
   border: none;
   background-color: #fff;
}
.infobox th:nth-child(1) {border-top: none !important;}
#mw-mf-page-left {
   top:   0;
   right: 0;
   left: inherit;
   background: var(--translucent-background);
   -webkit-transform: translate(100%,0);
   -moz-transform: translate(100%,0);
   -ms-transform: translate(100%,0);
   transform: translate(100%,0);
}
#main-menu-input:checked ~ .main-menu-mask {opacity: 1;}
.mw-searchresults-has-iw .iw-resultset {
   background: var(--infobox-background);
}
#main-menu-input:checked ~ body {overflow: hidden !important;}
.main-menu-mask {
   background: rgba(0,0,0,0.2);
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
}

/* Dark Mode */
html, body, #content, .mw-body, #mw-mf-page-center {
   background: var(--body-background);
   color: var(--text-color);
}
.toggle-list__list {
   background: var(--translucent-background);
   -webkit-backdrop-filter: blur(20px);
   backdrop-filter: blur(20px);
}
.toggle-list-item:hover {background: var(--body-background);}
.toggle-list-item__label {color: var(--text-color);}
#mw-usercssyoucanpreview {background: #fff;}
.mw-highlight {
   border: 0;
   border-radius: 20px;
   background: var(--translucent-background);
}
.wikitable, table {
   background: #fff;
   color: #000;
}
.page-summary h2, .page-summary h3,
.overlay.search-overlay li.page-summary .wikidata-description {
   color: var(--text-color);
}
.unicode, .haudio {filter: var(--filter);}
.branding-box img {filter: var(--filter);}
.header .branding-box {
   width: 0px;
   opacity: 1;
   transition: 100ms ease-in-out;
}
.header .branding-box h1 img,
.header .branding-box a img {transition: 250ms ease-in-out;}
.mw-ui-icon-element,
 .mw-ui-icon-before:before {filter: var(--filter);}
.mw-ui-icon {filter: var(--filter);}
.oo-ui-popupWidget-popup .mw-ui-icon {
   color: #000 !important;
   filter: none !important;
}
.mw-echo-ui-notificationBadgeButtonPopupWidget-popup > .oo-ui-popupWidget-popup > .oo-ui-popupWidget-head > .oo-ui-labelElement-label {color: #000;}
.client-js .toc {
   border-radius: 20px;
   background-color: var(--whiteblack);
}
#pt-notifications-alert .mw-echo-notifications-badge.mw-echo-notifications-badge-all-read,
#pt-notifications-notice .mw-echo-notifications-badge.mw-echo-notifications-badge-all-read {
   opacity: 1;
   filter: var(--filter);
}
.minerva__tab-container .minerva__tab:visited,
.minerva__tab-container .minerva__tab:hover,
.minerva__tab-container .minerva__tab:active,
.minerva__tab-container .minerva__tab.new,
.minerva__tab-container .minerva__tab.new:visited,
.minerva__tab-container .minerva__tab.new:active,
.minerva__tab-container .minerva__tab.new:hover {
   color: var(--text-color);
}
#mw-mf-page-left ul li a {color: var(--text-color);}
.content figure .thumbinner,
.content .thumb .thumbinner {
   border: none;
   border-radius: 20px;
   background: var(--infobox-background);
}
.thumbinner .trow {
   overflow: hidden;
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;
}
.content table caption {background: transparent;}
.infobox img {background: rgba(255,255,255,0.7);}
.overlay {
   background: var(--translucent-background);
   -webkit-backdrop-filter: blur(20px);
   backdrop-filter: blur(20px);
}
.hatnote {
   margin: 7px 0px !important;
   border-radius: 8px;
   background: var(--whitegrey);
   color: var(--caption);
}
a {color: var(--link-color);}
a:visited {color: var(--visited-link-color);}
.content .infobox th, .content .infobox td {
   padding: 10px 10px;
   border-bottom: none;
}
.infobox.geography .mergedtoprow td,
.infobox.geography .mergedtoprow th {border-top: none;}
.infobox.geography td,
.infobox.geography th {border-top: none;}
.infobox a, .wikitable a, table a {color: #3366cc;}

@media (prefers-color-scheme: dark) {
   .content .infobox td:only-child,
   .content .infobox th:only-child {
      background-color: transparent !important;
      color: var(--text-color) !important;
   }
   .content .infobox tbody > tr > td,
   .content .infobox tbody > tr > th {
      background-color: transparent !important;
      color: var(--text-color) !important;
   }
}
.infobox a:visited, .wikitable a:visited,
table a:visited {color: #6b4ba1;}
.infobox img, .infobox .thumb,
.infobox .thumbimage {
   border-radius: 0 !important;
   /*
   border-top-right-radius:    0 !important;
   border-top-left-radius:     0 !important;
   border-bottom-right-radius: 0 !important;
   border-bottom-left-radius:  0 !important;
   */
}
/*
.infobox .thumb {
   border-top-right-radius:    0 !important;
   border-top-left-radius:     0 !important;
   border-bottom-right-radius: 0 !important;
   border-bottom-left-radius:  0 !important;
}
.infobox .thumbimage {
   border-top-right-radius:    0 !important;
   border-top-left-radius:     0 !important;
   border-bottom-right-radius: 0 !important;
   border-bottom-left-radius:  0 !important;
}
*/
.overlay.search-overlay .clear {display: block !important;}

:root {
   --translucent-background: rgba(255, 255, 255, 0.85);
   --search-background: rgba(234, 236, 240, 0.8);
   --infobox-background: rgba(255, 255, 255, 1);
   --fancyinfobox-background: linear-gradient(180deg,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 96%,rgba(210,210,210,1) 100%);
   --menu-background: rgba(255, 255, 255, 0.98);
   --hatnote-background: rgba(234, 236, 240, 0.8);
   --body-background: #eef0f2;
   --text-color: #000000;
   --link-color: #3366cc;
   --visited-link-color: #6b4ba1;
   --filter: none;
   --caption: #54595d;
   --image-border: none;
   --whiteblack: #fff;
   --whitegrey: #fff;
}
@media (prefers-color-scheme: dark) {
   :root {
      --translucent-background: rgba(75, 75, 75, 0.8);
      --search-background: rgba(75, 75, 75, 0.8);
      --infobox-background: rgba(75, 75, 75, 0.8);
      --fancyinfobox-background: linear-gradient(180deg, rgba(75,75,75,0.8) 0%, rgba(75,75,75,0.8) 96%, rgba(130,130,130,0.9) 100%);
      --menu-background: rgba(75, 75, 75, 0.96);
      --hatnote-background: rgba(75, 75, 75, 0.5);
      --body-background: #000;
      --text-color: #fff;
      --link-color: #9eb6e7;
      --visited-link-color: #c0b0da;
      --filter: brightness(0) invert(1);
      --caption: #fff;
      --image-border: 2px solid #fff;
      --whiteblack: #000;
      --whitegrey: rgba(75, 75, 75, 0.8);
   }
}

/* Banner */
#searchInput {border-radius: 10px;}
@media screen and (min-width: 768px) {}
.search-overlay {z-index: 3;}
#mw-mf-page-left ul {
   padding-top:   22px;
   padding-bottom: 0px;
}
#mw-mf-page-left {z-index: 4;}
#mw-mf-page-left ul li a {color: var(--text-color);}
#mw-mf-page-left ul li {
   border: none;
   background: transparent;
}
.overlay.search-overlay.visible {overflow: scroll;}
.overlay.search-overlay .results,
.overlay.search-overlay .search-feedback {
   box-shadow: none;
   background: transparent;
}
.overlay.search-overlay li.page-summary {
   margin-top:    10px;
   margin-bottom: 20px;
   border: 0;
   border-radius: 20px;
   background: var(--whiteblack);
   box-shadow: none;
}
.page-list, .topic-title-list, .site-link-list {overflow: visible;}
.list-thumb.list-thumb-y, .results-list-container div {
border-top-left-radius:    20px;
border-bottom-left-radius: 20px;
}
.overlay.search-overlay .search-content {border-bottom: 0;}
.overlay.search-overlay {
   background: var(--search-background);
   -webkit-backdrop-filter: blur(20px);
   backdrop-filter: blur(20px);
}
.header-container.header-chrome {
   position: fixed;
   z-index: 2;
   top:   0;
   right: 0;
   box-sizing: border-box;
   height: 65px;
   border: 0;
   background: var(--menu-background);
   transition: all 250ms ease-in-out;
}

/* Targeting Safari for Backdrop Filter and Font size bug */
@media not all and (min-resolution:.001dpcm) {
   @media {
      .header-container.header-chrome {
         background: var(--translucent-background) !important;
         -webkit-backdrop-filter: blur(20px);
         backdrop-filter: blur(20px);
      }
   }
}
@media screen and (max-width: 768px) {
   #mw-mf-viewport {padding-top: 60px;}
   .thumb img {width: calc(100% + 2px) !important;}
   .header-container.header-chrome {
      width:  100%;
      height: 55px !important;
   }
   .content figcaption, .content .thumbcaption {
      padding: 15px !important;
      color: var(--text-color);
   }
   .notifications-overlay.navigation-drawer {top: 53px;}
   .minerva-header {height: 100%;}
}
.header-chrome.overlay-header-container + .overlay-content {
   margin-top:  3.375em;
   padding-top: 0;
}
.overlay-content {z-index: 1;}
.page-actions-menu {
   border-top:    0;
   border-bottom: 0;
}
#bodyContent {margin-top: 20px;}

/* Fonts */
.pre-content h1 {
   font: 800 3em -apple-system, BlinkMacSystemFont, "SF Pro Text","Helvetica Neue",sans-serif;
   /*
   font-weight: 800;
   font-size: 3em;
   font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text","Helvetica Neue",sans-serif;
   */
   color: var(--text-color);
}
@media screen and (min-width: 768px) {
   .thumbinner img {width: 100% !important;}
}
#content .gallerybox div.thumb {background: none;}
h2 .mw-headline {
   font: 700 1.5em -apple-system, BlinkMacSystemFont, "SF Pro Text","Helvetica Neue",sans-serif;
   color: var(--text-color);
}
.content .mw-parser-output > h2,
.content .section-heading {border-bottom: none;}
h3 .mw-headline{
   font: 600 25px -apple-system, BlinkMacSystemFont, "SF Pro Text","Helvetica Neue",sans-serif;
   color: var(--text-color);
}
h4 .mw-headline{
   font: 500 18px -apple-system, BlinkMacSystemFont, "SF Pro Text","Helvetica Neue",sans-serif;
   color: var(--text-color);
}
body, p {
   font-weight: 300;
   font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text","Helvetica Neue",sans-serif;
}

/* Visual Tweaks */
footer .last-modified-bar, .minerva-footer,
footer > .post-content > h2 {
   border-top: none;
   border-bottom: none;
}
.overlay.media-viewer .cancel {top: 60px;}
.infobox {
   padding: 0;
   border-radius: 20px;
}
table {border-radius: 0px;}
input {border-radius: 10px;}
.thumbimage {
   border-radius: 20px 20px 0 0;
   /*
   border-top-left-radius:    20px;
   border-top-right-radius:   20px;
   border-bottom-right-radius: 0px;
   border-bottom-left-radius:  0px;
   */
   box-shadow: none;
}
.header {
   height: 100%;
   border-top: none;
}
.overlay.search-overlay .header input {
   border: 0;
   border-radius: 10px;
}
.client-js #searchIcon {display: block;}
#mw-clearyourcache {display: none;}
.skin-minerva-search-trigger {display: none;}
.list-thumb.list-thumb-none {
   border-top-left-radius:    20px;
   border-bottom-left-radius: 20px;
}
.content table.infobox {
   background: var(--infobox-background);
   color: var(--text-color);
   border-radius: 20px;
}
table.infobox {max-width: 350px;}
.content table.infobox a {color: var(--link-color);}
.content table.infobox a:visited {color: var(--visited-link-color);}
thead {
   border: solid 1px rgba(84,89,93,0.3); /* #54595d */
   backdrop-filter: blur(20px);
   -webkit-backdrop-filter: blur(20px);
}
thead th {background-color: rgba(234, 236, 240, 0.8) !important;}
.hatnote a, .dablink a, .rellink a {color: var(--link-color);}
#mw-blocked-text {background: var(--body-background) !important;}
.user-block {background: var(--whitegrey) !important;}

/* Editor */
.oo-ui-toolbar-bar{
   background-color: var(--translucent-background);
   color: var(--text-color);
   -webkit-backdrop-filter: blur(20px);
   backdrop-filter: blur(20px);
}
.oo-ui-iconElement-icon {filter: var(--filter);}
.oo-ui-popupWidget-popup .oo-ui-iconElement-icon {
   color: #000 !important;
   filter: none !important;
}
.oo-ui-popupToolGroup.oo-ui-widget-enabled > .oo-ui-popupToolGroup-handle .oo-ui-iconElement-icon,
.oo-ui-popupToolGroup.oo-ui-widget-enabled > .oo-ui-popupToolGroup-handle .oo-ui-indicatorElement-indicator {
   filter: var(--filter);
}
.client-js .mw-edittools-section input[type="button"] {
   color: var(--text-color);
}